---
import JobSummary from "../componants/JobSummary.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
    <section title="Hero section">
        <div class="hero-background">
            <div class="wrapper">
<div class="hero-content">
<h1>I'm Simon</h1>
<div class="sub-header">
    A Digital Marketing expert with 16 years experience making brands shine and reach the customers they want.
<div class="cta"><a href="#projects" class="btn btn-cta">See what I do</a></div>
</div>
<div class="skills">
    <ul role="list">
    <li>strategy</li>
    <span class="dot"></span>
    <li>ux/ui</li>
<span class="dot"></span>
    <li>design</li>
<span class="dot"></span>
    <li>development</li>
<span class="dot"></span>
    <li>advertising</li>
    <span class="dot"></span>
    <li>analytics</li>
</ul></div>
</div>
        </div>
    </div>
    </section>

    <section title="My projects">
<div class="block-background">

<div class="wrapper">
    <h2 class="text-center" id="projects">Some of my projects</h2>


<div class="card-grid">
    <div class="card">
        <div class="card-title">Taranaki Health Foundation</div>
        <div class="card-sub-title"><p>Strategy</p></div>
        <div class="card-description">A local non-profit organisation that fundraises for enhancements to local healthcare.</div>
        <div class="card-cta">More info coming soon.</div>
        <div class="card-img"><img src="/thf-laptop-1.png"></div>
        <div class="card-footer">
            <ul role="list">
                <li>market research</li>
                <li>competitor analysis</li>
                <li>strategy</li>
                <li>wireframing</li>
                <li>site design </li>
                <li>website build</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">True Honey Co</div>
        <div class="card-sub-title"><p>eCommerce</p></div>
        <div class="card-description">A luxury brand selling high grade manuka honey in domestic and international markets. They required a website refresh and migration to Shopify</div>
        <div class="card-cta">More info coming soon.</div>
        <div class="card-img"><img src="/true-honey-co-1.jpg"></div>
        <div class="card-footer">
            <ul role="list">
                <li>market research</li>
                <li>competitor analysis</li>
                <li>strategy</li>
                <li>wireframing</li>
                <li>site design </li>
                <li>website build</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-title">True Honey Co</div>
        <div class="card-sub-title"><p>eCommerce</p></div>
        <div class="card-description">A luxury brand selling high grade manuka honey in domestic and international markets. They required a website refresh and migration to Shopify</div>
        <div class="card-cta">More info coming soon.</div>
        <div class="card-img"><img src="/true-honey-co-1.jpg"></div>
        <div class="card-footer">
            <ul role="list">
                <li>market research</li>
                <li>competitor analysis</li>
                <li>strategy</li>
                <li>wireframing</li>
                <li>site design </li>
                <li>website build</li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
    </section>

    <section>
        <div class="wrapper">
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatem, omnis officiis earum quae ipsum reiciendis. Harum repellat, nam mollitia velit quam, ea cupiditate molestias maxime, excepturi obcaecati esse. Exercitationem?
            Molestiae maxime dolorem deserunt eveniet animi neque facilis odio dolore excepturi quisquam inventore laboriosam culpa mollitia, quod voluptates, temporibus earum ratione dignissimos. Beatae sapiente aliquam dignissimos facilis ex dolores ad.
            Numquam nostrum illum ut et dolores adipisci, possimus voluptatibus ullam. Eligendi, fugit libero blanditiis temporibus ratione voluptatem dolorem a nam ipsam pariatur dignissimos beatae ipsa amet, quaerat hic exercitationem nobis!
            Itaque dolor delectus omnis numquam quos vel! Ab deserunt tempora reiciendis quod illum natus earum saepe, dicta laboriosam voluptate placeat error, id totam accusantium dolore ea necessitatibus distinctio expedita maxime.
            Exercitationem omnis nisi aliquam hic animi, possimus nemo reiciendis unde at doloremque voluptates id aspernatur ullam ipsa. Qui, facilis molestiae. Repudiandae voluptates, sit eius architecto odio possimus dolor. Qui, natus?
            Iure omnis doloremque assumenda officia non harum corporis nam dolorem, a impedit praesentium, explicabo repudiandae similique officiis quaerat, architecto dolor! Numquam reiciendis quod ipsa pariatur libero eveniet. Voluptate, facere soluta?
            Neque accusamus vero quis dignissimos error est tempora eum. Ducimus numquam sed sint deserunt dignissimos, dolor exercitationem aliquam vel error, sequi dolorum ea fugit saepe eius ut? Quibusdam, totam dolorum?
            Earum ex, libero totam a architecto quia maiores ipsa quasi consequuntur laboriosam quos eveniet temporibus commodi modi? Et, odio, dolor sapiente velit, deleniti blanditiis officiis expedita vel minus natus optio!
            Commodi, ea. Obcaecati voluptatem harum praesentium! Inventore excepturi quas ullam voluptas facere minima officiis voluptatibus cum voluptates dignissimos veniam explicabo ipsa earum odit atque minus, suscipit sunt? Maxime, possimus culpa.
            Minus impedit perferendis totam aspernatur, officia inventore illo, deleniti minima alias suscipit ut exercitationem corrupti, et mollitia maiores aliquid dicta laborum deserunt sit. Ad explicabo, voluptatum eius nisi et laboriosam?</h5>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatem, omnis officiis earum quae ipsum reiciendis. Harum repellat, nam mollitia velit quam, ea cupiditate molestias maxime, excepturi obcaecati esse. Exercitationem?
            Molestiae maxime dolorem deserunt eveniet animi neque facilis odio dolore excepturi quisquam inventore laboriosam culpa mollitia, quod voluptates, temporibus earum ratione dignissimos. Beatae sapiente aliquam dignissimos facilis ex dolores ad.
            Numquam nostrum illum ut et dolores adipisci, possimus voluptatibus ullam. Eligendi, fugit libero blanditiis temporibus ratione voluptatem dolorem a nam ipsam pariatur dignissimos beatae ipsa amet, quaerat hic exercitationem nobis!
            Itaque dolor delectus omnis numquam quos vel! Ab deserunt tempora reiciendis quod illum natus earum saepe, dicta laboriosam voluptate placeat error, id totam accusantium dolore ea necessitatibus distinctio expedita maxime.
            Exercitationem omnis nisi aliquam hic animi, possimus nemo reiciendis unde at doloremque voluptates id aspernatur ullam ipsa. Qui, facilis molestiae. Repudiandae voluptates, sit eius architecto odio possimus dolor. Qui, natus?
            Iure omnis doloremque assumenda officia non harum corporis nam dolorem, a impedit praesentium, explicabo repudiandae similique officiis quaerat, architecto dolor! Numquam reiciendis quod ipsa pariatur libero eveniet. Voluptate, facere soluta?
            Neque accusamus vero quis dignissimos error est tempora eum. Ducimus numquam sed sint deserunt dignissimos, dolor exercitationem aliquam vel error, sequi dolorum ea fugit saepe eius ut? Quibusdam, totam dolorum?
            Earum ex, libero totam a architecto quia maiores ipsa quasi consequuntur laboriosam quos eveniet temporibus commodi modi? Et, odio, dolor sapiente velit, deleniti blanditiis officiis expedita vel minus natus optio!
            Commodi, ea. Obcaecati voluptatem harum praesentium! Inventore excepturi quas ullam voluptas facere minima officiis voluptatibus cum voluptates dignissimos veniam explicabo ipsa earum odit atque minus, suscipit sunt? Maxime, possimus culpa.
            Minus impedit perferendis totam aspernatur, officia inventore illo, deleniti minima alias suscipit ut exercitationem corrupti, et mollitia maiores aliquid dicta laborum deserunt sit. Ad explicabo, voluptatum eius nisi et laboriosam?</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora voluptatem, omnis officiis earum quae ipsum reiciendis. Harum repellat, nam mollitia velit quam, ea cupiditate molestias maxime, excepturi obcaecati esse. Exercitationem?
            Molestiae maxime dolorem deserunt eveniet animi neque facilis odio dolore excepturi quisquam inventore laboriosam culpa mollitia, quod voluptates, temporibus earum ratione dignissimos. Beatae sapiente aliquam dignissimos facilis ex dolores ad.
            Numquam nostrum illum ut et dolores adipisci, possimus voluptatibus ullam. Eligendi, fugit libero blanditiis temporibus ratione voluptatem dolorem a nam ipsam pariatur dignissimos beatae ipsa amet, quaerat hic exercitationem nobis!
            Itaque dolor delectus omnis numquam quos vel! Ab deserunt tempora reiciendis quod illum natus earum saepe, dicta laboriosam voluptate placeat error, id totam accusantium dolore ea necessitatibus distinctio expedita maxime.
            Exercitationem omnis nisi aliquam hic animi, possimus nemo reiciendis unde at doloremque voluptates id aspernatur ullam ipsa. Qui, facilis molestiae. Repudiandae voluptates, sit eius architecto odio possimus dolor. Qui, natus?
            Iure omnis doloremque assumenda officia non harum corporis nam dolorem, a impedit praesentium, explicabo repudiandae similique officiis quaerat, architecto dolor! Numquam reiciendis quod ipsa pariatur libero eveniet. Voluptate, facere soluta?
            Neque accusamus vero quis dignissimos error est tempora eum. Ducimus numquam sed sint deserunt dignissimos, dolor exercitationem aliquam vel error, sequi dolorum ea fugit saepe eius ut? Quibusdam, totam dolorum?
            Earum ex, libero totam a architecto quia maiores ipsa quasi consequuntur laboriosam quos eveniet temporibus commodi modi? Et, odio, dolor sapiente velit, deleniti blanditiis officiis expedita vel minus natus optio!
            Commodi, ea. Obcaecati voluptatem harum praesentium! Inventore excepturi quas ullam voluptas facere minima officiis voluptatibus cum voluptates dignissimos veniam explicabo ipsa earum odit atque minus, suscipit sunt? Maxime, possimus culpa.
            Minus impedit perferendis totam aspernatur, officia inventore illo, deleniti minima alias suscipit ut exercitationem corrupti, et mollitia maiores aliquid dicta laborum deserunt sit. Ad explicabo, voluptatum eius nisi et laboriosam?</p>
        </div>
    </section>

    </BaseLayout>





    <style>


       
:root{
    --orange-100: #fff9f1;
   --orange-200: #ffecd4;
   --orange-300: #ffdfb8;
   --orange-400: #ffd199;
   --orange-500: #ffbe70;
   --orange-600: #cc985a;
   --orange-700: #997243;
   --orange-800: #664c2d;
   --orange-900: #332616;
   --black-red: #342323;
    --black-blue: #122323;
    --neutral-500: #EBE9E1;
    --main-font: "Manrope", system-ui;
}

        .hero-background{
            background-image: linear-gradient(to bottom right, var(--black-red), var(--black-blue));
            height: clamp(400px, 95vh, 768px);
            display: grid;
            grid-template-columns: 1fr;
            align-items: end;
            justify-content: center;
            text-align: center;
         }

         .hero-content{
            display: grid;
            grid-template-columns: 1fr;
            container-type: inline-size;   
            color: white; 
            gap: 1.4rem;
         }
.sub-header{
            width:clamp(320px, 65ch, 1200px);
            margin: 0 auto;
            text-wrap: balance;
            font-size: clamp(1.2rem, 2.5cqi, 2.4rem);
}

.skills ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;;
}

.dot{
    width: 10px;
    height:10px;
    border-radius: 10px;
    background-color: var(--orange-500);

}

.block-background{
padding-block: 6.5rem;
  background-color: var(--orange-100);
}

.card-grid{
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
gap: 3rem 6rem;;
margin-block: 50px;
}

.card{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: subgrid;
    /* box-shadow: 0 0 5px 2px rgba(0,0,0,0.1), 0 0 20px 10px rgba(0,0,0,0.05); */
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.1), 10px 10px 0 0  rgba(0,0,0,0.05);
    border-radius: 25px;
    padding: 1.4rem;
    background-color: white;
    container-type: inline-size;
    gap: 0.5rem;
    transition: all 0.333s ease-in-out;
}

.card:hover{
    transform: translateY(-5px);
    /* box-shadow: 0 0 5px 2px rgba(249,93,59,0.1), 0 0 20px 10px rgba(249,93,59,0.05); */
    box-shadow: 3px 3px 0 0 rgba(249,93,59,0.15),10px 15px 10px 5px rgba(249,93,59,0.05);

}
/* 
.card:nth-last-of-type(even){
    transform: translateY(75%);
} */

.card-title{
    text-transform: uppercase;
    font-size: clamp(1.25rem, 5cqi, 3rem);
    font-weight: 700;
}

.card-sub-title{
    justify-self: right;background-color: var(--orange-300);
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 0.75rem;
    min-width: 100px;
    text-align: center;
    height: 2rem;
}


.card-description{
    max-width: 65ch;
    text-wrap: balance;
    grid-column: 1/3;
}

.card-img {
    width: clamp(200px, 80%, 600px);
    margin: 0 auto;
    grid-column: 1/3;
}

.card-cta{
    font-weight: 700;
    color: var(--orange-700);
}

.card-footer{
    grid-column: 1/3;
}

.card-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 3rem;
    font-weight: 700;
    color: var(--orange-600);
}

</style>